# Prerequisites
*.d

# gmake
Makefile
*.make

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.idb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Solution files

*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# folders

.vs/
.vscode/
obj/
test-bin/
lib/

